body {
	background: #eee;
}
p, ul, ol {
	width: 640px;
}
h1, h2, h3, p, blockquote, li {
	font-family: Georgia, "Times New Roman", Times, serif;
	color: #333;
}
p, li {
	font-size: 90%;
	line-height: 160%;
}
li li {
	font-size: 100%;
	line-height: 100%;
}
