<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Plain Text Wiki</string>
	<key>ordering</key>
	<array>
		<string>F861513D-753A-4D79-8679-4EE3D034F5A8</string>
		<string>9E6456BA-0357-461E-B2CC-2C2FBCC515E9</string>
		<string>C172A2DF-1A4F-4D98-9649-8072AE32A04A</string>
		<string>D40BAED3-BAFF-42C7-81CB-108FC0063244</string>
	</array>
	<key>uuid</key>
	<string>BB5A6F6E-4EFD-4273-9A31-C158A7DACC87</string>
</dict>
</plist>
